* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.left {
    padding-left: 15px;
    padding-top: 10px;
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    overflow: overlay;
    overflow-x: hidden;
    background-color: white;
}

.left::-webkit-scrollbar {
    width: 0.6vw;
}

.left::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;
}

.left-top {
    width: 100%;
    height: 50px;
    display: flex;
    padding-left: 15px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

#more-image img {
    width: 30px;
    height: 30px;
}

#top-youtube-logo img {
    width: 110px;
    height: 100px;
}

.left-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left-bottom-first {
    height: 250px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-bottom-first li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#backcolor {
    padding-bottom: 10px;
    padding-left: 15px;
    gap: 10px;
}

#backcolor img {
    width: 40px;
    height: 40px;
}

.left-bottom-second {
    height: 600px;
    padding: 10px 0px;
    border-bottom: 0.5px solid rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-bottom-second li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.left-bottom-third {
    height: 600px;
    padding: 10px 0px;
    gap: 20px;
    border-bottom: 0.5px solid rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-bottom-third li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
}

.bottom-third-image img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.left-bottom-fourth {
    height: 600px;
    padding: 10px 0px;
    border-bottom: 0.5px solid rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-bottom-fourth li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.left-bottom-fifth {
    height: 600px;
    padding: 10px 0px;
    border-bottom: 0.5px solid rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-bottom-fifth li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-bottom-sixth {
    height: 600px;
    padding: 10px 0px;
    border-bottom: 0.5px solid rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-bottom-sixth li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#sub-title {
    font-size: 18px;
    padding: 10px 0px;
}

.small-title {
    font-size: 18px;
    padding: 10px 0px 10px 15px;
}

.bottom-image img {
    width: 60px;
    height: 60px;
}

.left-bottom-seventh {
    height: 600px;
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-bottom-seventh ul {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px 10px 10px;
}

.left-bottom-seventh ul li {
    padding: 0px 0px 5px 0px;
}

.seventh-first {
    color:hsla(0, 3%, 13%, 0.62);
}

.seventh-second {
    color:hsla(0, 3%, 13%, 0.62);
}

#youtubeweight {
    font-weight: 600;
}

.seventh-third {
    color:hsla(0, 0%, 42%, 0.49);
}

.blue {
    color:rgb(80, 141, 254);
}

.right {
    padding-left: 300px;
    width: 1700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.right-topandcenter {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 140px;
}

.right-top {
    width: 80%;
    height: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.right-top-left {
    width: 1200px;
    height: 30px;
    padding-left: 300px;
    display: flex;
    flex-direction: row;
}

.right-top-search {
    position: relative;
    width: 500px;
    height: 40px;
    border: 1px solid #bdc1c6;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#inputtext input {
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 16px;
    padding-top: 6px;
    padding-left: 10px;
    outline: none;
}

.right-top-search-right {
    position: absolute;
    right: 2px;
    display: flex;
    flex-direction: row;
}

.right-top-search-right li img {
    width: 35px;
    height: 35px;
    border-radius: 20px;
}

#keyboard-img {
    margin-right: 10px;
}

#search-img {
    border-radius: 20px;
}

.right-top-right {
    width: 200px;
    height: 50px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    gap: 15px;
}

.top-img img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.right-center {
    width: 100%;
    height: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.box-class span {
    background-color:hsla(0, 7%, 59%, 0.13);
    border-radius: 10px;
    margin: 0px 3px;
    padding: 6px 12px;
}

.right-bottom {
    width: 100%;
    padding-top: 180px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 50px;
}

.right-bottom-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.right-bottom-box-top img {
    width: 380px;
    height: auto;
    border-radius: 10px;
}

.youtuber-profile img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.right-bottom-box-bottom {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.right-bottom-box-bottom-column {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.videotitle {
    font-size: 18px;
    text-align: left;
}

.youtuber {
    padding-top: 2px;
    font-size: 15px;
    color:hsla(0, 0%, 14%, 0.777);
}

.uploadtime {
    font-size: 15px;
    color:hsla(0, 0%, 14%, 0.777);
}
